@page "/linked-chat"
@inject ChatClient _client
@inject StateService _stateService
@inject CommentService _commentService
@inject ReplacementLinkService _replacementLinkService
@inject IJSRuntime JS

@implements IDisposable

@using Vantage.Web.Models
@using StrawberryShake
@using StrawberryShake.Extensions
@using Vantage.Web.Services
@using System.Collections.Immutable


<div class="container">
    <div hidden="@(_ready)">
        Loading chat messaging...
    </div>

    <div class="box box-upper">
        @foreach (var comment in _comments)
        {
            @if (comment.User.Direction == Direction.Left)
            {
                <div class="@(GetTextDirection(comment.User.Direction)) chat-bubble">
                    <small>@comment.User.Name:</small> @(new MarkupString(_replacementLinkService.FindHashed(comment.Content)))
                </div>
            }
            else
            {
                <div class="@(GetTextDirection(comment.User.Direction)) chat-bubble">
                    @(new MarkupString(_replacementLinkService.FindHashed(comment.Content))) <small>: @comment.User.Name</small>
                </div>
            }
            
        }
    </div>

    <div class="box box-lower form-floating;">
        <div>
            <textarea @bind="_comment" @bind:event="oninput" class="form-control" placeholder="Enter message here"
                      @onkeydown="@Enter"></textarea>
        </div>

        <div class="text-right">

            <button type="button" class="btn btn-primary add-comment"
                    @onclick="() => OnAddCommentAsync(_comment)"
                    disabled="@(!_isValid)">
                Send
            </button>
        </div>
    </div>
</div>

@code
{
    private User _user { get; set; }
    private List<Comment> _comments = new();
    private string _comment { get; set; }
    private bool _isValid => !string.IsNullOrEmpty(_comment);
    private bool _ready { get; set; }

    private string GetTextDirection(Direction direction)
    {
        return direction == Direction.Left ? "text-left" : "text-right";
    }

    protected override async Task OnInitializedAsync()
    {
        // watch for comments added
        await _replacementLinkService.Initialize();

        BeginCommentWatcher();
        BeginReplacementLinkWatcher();

        await SetInitialUser();

        RefreshComments();

        await _stateService.ShareStateAsync(StateService.LinkedChat);
        _stateService.Notify += OnShareState;

        _ready = true;

        StateHasChanged();
    }


    private async void RefreshComments()
    {
        _comments.Clear();

        var result = await _client.GetComments.ExecuteAsync();
        result.EnsureNoErrors();

        if (result.Data == null) return;
        

        _comments = result.Data.Comment!.Select(t =>
        {
            var comment = new Comment
            {
                Content = t!.Content,
                User = new User
                {
                    Name = t.User!.Name,
                    Direction = t.User!.Name == "Jaime" ? Direction.Left : Direction.Right
                }
            };
            _replacementLinkService.Hash(comment.Content);
            return comment;

        }).ToList();
        StateHasChanged();
    }


    private void BeginCommentWatcher()
    {
        Task.Run(() =>
        {
            _client.OnAddedComment.Watch()
                .Subscribe(x =>
                {
                    var added = _commentService.Project(x.Data?.Created);
                    _replacementLinkService.Hash(added?.Content);
                    _comments.Add(added);
                    StateHasChanged();
                });
        });

    }

    

    private void BeginReplacementLinkWatcher()
    {
        Task.Run(() =>
        {
            _client.OnReplacementLinkCreated.Watch()
                .Subscribe(x =>
                {
                    _replacementLinkService.Add(x.Data.Created);
                    _replacementLinkService.Refresh(_comments);
                    StateHasChanged();
                });
        });

        Task.Run(() =>
        {
            _client.OnReplacementLinkRemoved.Watch()
                .Subscribe(x =>
                {
                    var keyword = x.Data?.Removed?.Keyword;
                    _replacementLinkService.RemovedReplacementsWithKeyword(keyword);
                    _replacementLinkService.Refresh(_comments);
                    StateHasChanged();
                });
        });
    }



    private async Task SetInitialUser()
    {
        var result = await _client.GetUsers.ExecuteAsync();
        result.EnsureNoErrors();

        if (result.Data == null)
            throw new Exception("No users were available");

        var first = result?.Data?.User?.First();
        _user = new User { Direction = Direction.Left, Id = first?.Id, Name = first?.Name };
        StateHasChanged();

    }
    private async Task OnShareState(object state)
    {
        if (state is not User user) return;
        _user = user;

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _stateService.Notify -= OnShareState;
    }

    private async void OnAddCommentAsync(string comment)
    {
        if (!_isValid) return;

        var result = await _client.SendMessage.ExecuteAsync(comment, System.Convert.ToInt32(_user.Id)); // TODO Seems like this should be generated as string
        result.EnsureNoErrors();

        // reset values
        _comment = string.Empty;

        StateHasChanged();
    }
    private void Enter(KeyboardEventArgs e)
    {
        // allow enter key to send comments
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
           OnAddCommentAsync(_comment);
        }
    }
}
